#block
ENV{ID_USB_DRIVER}=="usb-storage",ENV{UDISKS_IGNORE}="1"
ATTRS{serial}=="ZPW8XAUE",ENV{UDISKS_IGNORE}="0" #  (25_ДСП) by T283
ATTRS{serial}=="001CC0EC34ADBC2176480056",ENV{UDISKS_IGNORE}="0" #  (16_ДСП) by T283
ATTRS{serial}=="4C530099940420101442",ENV{UDISKS_IGNORE}="0" #  (14_ДСП) by T283
ATTRS{serial}=="0160186500050860",ENV{UDISKS_IGNORE}="0" #  (23_ДСП) by T283
ATTRS{serial}=="1400381900500000000011D4",ENV{UDISKS_IGNORE}="0" #  (36_ДСП) by T283
ATTRS{serial}=="12082880001162",ENV{UDISKS_IGNORE}="0" #  (9_ДСП) by T283
ATTRS{serial}=="B1512034002863",ENV{UDISKS_IGNORE}="0" #  (11_ДСП) by T283
ATTRS{serial}=="00000000000000B3",ENV{UDISKS_IGNORE}="0" #  (8_ДСП) by T283
ATTRS{serial}=="070A74D565F02B89",ENV{UDISKS_IGNORE}="0" #  (2_ДСП) by T283
ATTRS{serial}=="14011230073000000560",ENV{UDISKS_IGNORE}="0" #  (20_ДСП) by T283
ATTRS{serial}=="900078FF1C828841",ENV{UDISKS_IGNORE}="0" #  (31_ДСП) by T283
ATTRS{serial}=="821GSWSL",ENV{UDISKS_IGNORE}="0" #  (6_ДСП) by T283
ATTRS{serial}=="AA14052800001915",ENV{UDISKS_IGNORE}="0" #  (№ 54) by T283
ATTRS{serial}=="4C530001240317122502",ENV{UDISKS_IGNORE}="0" #  (ПОЛИТОВ 60) by T283
ATTRS{serial}=="E69317001284",ENV{UDISKS_IGNORE}="0" #  (17_ДСП) by T283
ATTRS{serial}=="BB7F1AFF",ENV{UDISKS_IGNORE}="0" #  (34_ДСП) by T283
ATTRS{serial}=="098979FC",ENV{UDISKS_IGNORE}="0" #  (№ 55) by T283
ATTRS{serial}=="0173000000033224",ENV{UDISKS_IGNORE}="0" #  (17_ДСП) by T283
ATTRS{serial}=="1400810502414581",ENV{UDISKS_IGNORE}="0" #  (28_ДСП) by T283
ATTRS{serial}=="9000724A9AE32646",ENV{UDISKS_IGNORE}="0" #  (32_ДСП) by T283
ATTRS{serial}=="05FRN73IKLW5UX0M",ENV{UDISKS_IGNORE}="0" #  (43_ДСП) by T283
ATTRS{serial}=="989QFA6UNAPK43AA",ENV{UDISKS_IGNORE}="0" #  (НИКИТИН) by T283
ATTRS{serial}=="HEADER1638333094106",ENV{UDISKS_IGNORE}="0" #  (USB DISK 2.0 USB Device) by T283
ATTRS{serial}=="070A08F01C672768",ENV{UDISKS_IGNORE}="0" #  (USB DISK 2.0 USB Device) by T283
ATTRS{serial}=="28CZ50063607",ENV{UDISKS_IGNORE}="0" #  (USB DISK 2.0 USB Device) by T283
ATTRS{serial}=="Y5VU2PJZ",ENV{UDISKS_IGNORE}="0" #  (USB DISK 2.0 USB Device) by T283
ATTRS{serial}=="070A08F11C66B959",ENV{UDISKS_IGNORE}="0" #  (USB DISK 2.0 USB Device) by T283
